<u-subtitulo texto="Dados do usuário"></u-subtitulo>

<div class="card border-info m-1"  *ngIf="usuario; else naoExiste">
<!-- <div class="card-header text-center text-info">{{ cardHeader }}</div> -->
  <div class="card-body">
      <ul class="list-group list-group-flush">
      <li class="list-group-item">Nome: {{ usuario.name }}</li>
      <li class="list-group-item">E-mail: {{ usuario.email }}</li>
      <li class="list-group-item">CPF: {{ usuario. cpf }}</li>
      <li class="list-group-item">Data de Nascimento: {{ usuario.birthDate | date: 'shortDate'}} </li>
      </ul>
  </div>
</div>
<ng-template #naoExiste>
  <div class="alert alert-warning" role="alert">
    {{ erro.message }}
  </div>
</ng-template>
