<div class="card m-1 text-white bg-info">
  <div class="card-body">
    <h3 class="font-italic">Pesquisar usuário</h3>
  </div>
</div>
<div class="card m-1">
  <form class="card-body form-inline" (ngSubmit)="pesquisar()">
    <label class="text-muted">Digite o CPF : </label>
    <div class="form-group mx-sm-3 mb-2">
      <input class="form-control" id="cpf" type="text" name="cpf" [(ngModel)]="cpf"/>
    </div>
    <div>
      <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
    </div>
  </form>
</div>
